# Eclipse
.classpath
.project
.settings

# Intellij
.idea
registrationservice.iml

# VSCode
.vscode


# Maven
target

# Gradle
.gradle

# Other...
.factorypath
.register.properties
*.jks

# Output
*.war

/.apt_generated/
/.apt_generated_tests/
